/* General Styles */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Aseguramos que el body cubra toda la altura */
    overflow-x: hidden;
    /* Eliminar barra horizontal */
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1c1c1c, #3e3e3e);
    color: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #d4af37;
    /* Gold color */
    color: #1c1c1c;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 480px;
    text-align: center;
    box-sizing: border-box;
}

#controls {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #d4af37;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#controls label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#controls input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;
}

#controls button {
    background-color: #d4af37;
    color: #1c1c1c;
    font-size: 16px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: #e8c547;
}

#nameInputs {
    margin-top: 20px;
}

#nameInputs input {
    font-size: 16px;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #555;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

#generateButton {
    display: block;
    margin: 20px auto;
}

#counters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.counter {
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 0rem;
    width: 80%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    /* Se añade para posicionar el botón dentro del contador */
}

.counter h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.counter .count {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
}

.button-container {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d4af37;
    color: #1c1c1c;
    margin: 0 5px;
}

button:hover {
    background-color: #e8c547;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

button.next-turn-button {
    background-color: #d4af37;
    color: #fff;
    font-size: 24px;
    width: 60px; /* Define un tamaño fijo */
    height: 60px; /* Define un tamaño fijo para el círculo */
    padding: 0; /* Eliminamos el padding */
    border: none;
    border-radius: 50%; /* Asegura que sea completamente circular */
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    right: 10px; /* Un pequeño ajuste para separarlo más */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro del botón */
}

button.next-turn-button:hover {
    background-color: #e8c547;
}


button.current-turn {
    border: 2px solid #d4af37;
}

.plus-button {
    background-color: #28a745;
}

.trash-button {
    background-color: #9e0000;
}
